.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-position: center;

  form {
    background-color: white;
    padding: 0px 70px;
    border-radius: 10px;

    .div-error {
      padding: 5px;
      border-radius: 5px;
    }

    h1 {
      color: rgb(77, 1, 77);
      text-align: center;
    }

    input {
      padding: 15px;
      margin: 10px 0px;
      width: 93%;
    }

    select {
      padding: 15px;
      margin: 10px 0px;
      width: 100%;
    }

    button {
      width: 100%;
      height: 50px;
      padding: 10px;
      border: none;
      background-color: rebeccapurple;
      color: white;
      border-radius: 5px;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }
}
