.app.dark {
  background-color: #222;
  color: rgb(156, 156, 156);

  .table {
    background-color: #111;

    .tableCell {
      color: gray;
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: #999;
      }
    }

    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #999;
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: gray;
      border: none;

      // .viewButton,
      // .deleteButton {
      //   color: gray;
      //   border: none;
      // }

      .viewButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: lightblue;
        border: 1px solid rgba(173, 216, 230, 0.233);
        cursor: pointer;
      }

      .deleteButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: lightcoral;
        border: 1px solid rgba(255, 0, 0, 0.219);
        cursor: pointer;
      }
    }
  }

  input {
    background-color: transparent;
  }
}
